@media (max-width: 991px) {
    .less-992-hidden {
        display: none;
    }

    .container {
        width: 90%;
    }

    .header {
        & > * {
            width: 30%;
        }
        &__official {
            span {
                font-size: 17px;
                margin-top: 10px;
            }
        }
    }

    .promo {
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__wrapper {
            padding-top: 85px;
        }
    }

    .button_main {
        width: 290px;
        height: 48px;
    }

    .title {
        font-size: 29px;
    }
    .adventages {
        min-height: 460px;
        &__theme {
            align-items: center;
            width: 30%;
        }
        &__icon {
            margin-bottom: 30px;
        }
        &__subtitle {
            font-size: 17px;
            margin-bottom: 21px;
        }
    }
}

@media (max-width: 815px) {
    .tns-item {
        img {
            width: 100%;
        }
    }

    .catalog-item {
        width: 295px;
        &__actual-price {
            font-size: 19px;
        }
    }
}

@media (max-width: 679px) {
    .less-680-hidden {
        display: none;
    }

    .header {
        justify-content: space-around;
        &__logo {
            width: 265px;
        }
    }

    .promo {
        &__wrapper {
            padding-top: 70px;
        }
    }

    .title {
        margin-bottom: 45px;
    }
    .adventages {
        padding-top: 60px;
        min-height: 455px;
        &__icon {
            margin-bottom: 25px;
        }
        &__subtitle {
            font-size: 15px;
            margin-bottom: 16px;
        }
        &__description {
            font-size: 13px;
        }
    }

    .catalog {
        &__tabs {
            width: 535px;
        }
        &__tab {
            width: 170px;
            height: 47px;
            font-size: 16px;
        }
    }

    .catalog-item {
        width: 260px;
        &__description {
            font-size: 13px;
        }
        &__content {
            justify-content: space-between;
        }
        &__subtitle {
            margin-bottom: 0;
        }
        &__description {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 589px) {
    .header {
        &__logo {
            width: 50%;
        }
        &__phone {
            font-size: 15px;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 31px;
        }
        &__subheader {
            font-size: 21px;
        }
    }

    .title {
        font-size: 26px;
    }
    .adventages {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__theme {
            width: 330px;
            &:nth-of-type(-n+2) .adventages__description {
                margin-bottom: 35px;
            }
        }
        &__icon {
            margin-bottom: 6px;
        }
        &__subtitle {
            margin-bottom: 10px;
        }
        &__description {
            font-size: 14px;
        }

    }

    .catalog {
        &__tabs {
            flex-direction: column;
            width: 100%;
        }
        &__tab {
            margin-bottom: 5px;
        }
        &__content {
            justify-content: center;
        }
    }

    .catalog-item {
        width: 300px;
    }
}

@media (max-width: 494px) {
    .less-495-hidden {
        display: none;
    }
    .header {
        justify-content: start;
        &__logo {
            width: 60%;
        }
    }
    .promo {
        min-height: 0;
        padding-bottom: 85px;
        &__wrapper {
            padding-top: 29px;
        }
        &__header {
            text-align: center;
            font-size: 25px;
        }
        &__subheader {
            margin-bottom: 56px;
            text-align: center;
            font-size: 17px;
        }
        &__icons {
            width: 100%
        }
        &__icon {
            width: 40px;
            height: 40px;
            margin-bottom: 18px;
        }
        &__description-icon {
            font-size: 13px;
        }
        &__link-catalog {
            font-size: 14px;
        }
    }

    .button_main {
        width: 255px;
        height: 45px;
        font-size: 15px;
    }

    .title {
        font-size: 23px;
        margin-bottom: 38px;
    }
    .adventages {
        &__theme {
            width: 268px;
        }
        &__description {
            font-size: 13px;
        }
    }

    .button_buy-item {
        width: 125px;
        height: 39px;
    }
}

@media (max-width: 440px) {
    .tns-nav button {
        width: 17px;
        height: 17px;
    }
}