.adventages {
    padding-top: 70px;
    padding-bottom: 78px;
    min-height: 472px;
    background-color: #f6f6f6;
    h1 {
        text-transform: uppercase;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__theme {
        width: 247px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        margin-bottom: 38px;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 25px;
    }
    &__description {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    .adventages__description a {
        color: $main_color;
        text-decoration: underline;
        text-transform: uppercase;
        transition: all 0.2s;
        &:hover {
            text-decoration: underline;
            color: $main_color;
        }
    }
}