.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 38px 40px 40px;
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    &__close {
        position: absolute;
        top: 0;
        right: -35px;
        color: red;
        font-size: 35px;
        line-height: 20px;
        cursor: pointer;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 19px;
        line-height: 19px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 11px;
    }
    &__description {
        color: #0d0d0d;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        text-align: center;
    }

    /* modifications */
    &_thanks {
        min-height: 140px;
        &__description {
            margin-bottom: 0;
        }
    }
    label.error {
        display: block;
        text-align: center;
        border: none;
    }
}

#consultation, #order, #thanks {
    display: none;
}