.title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 38px;
    text-transform: uppercase;
    text-align: center;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
        margin-bottom: 80px;
    }
    &_catalog {
        color: #0d0d0d;
        margin-bottom: 69px;
    }
    &_catalog {
        color: #0d0d0d;
        margin-bottom: 69px;
    }
}